<div class="staticBackgroundLaunch">
</div>
<div class="instaFeed">
  <div class="instaVideo">

  </div>
  <div class="instaImage">
    <%= image_tag "insta/insta1.jpg", class: "" %>
  </div>
  <div class="instaImage">
    <%= image_tag "/insta2.jpg" %>
    <%= image_tag "product/product-shot1.jpg", class: "productImage1" %>
  </div>
  <div class="instaImageLarge">

  </div>
  <div class="instaImageLarge">

  </div>
</div>
