.contestPage {
  max-width: 960px;
  margin: 100px auto 60px;
  h2 {
    text-align: center;
    font-weight: 100;
  }
  .contestFloat {
    float: left;
    img {width: 100%;}
    .contestProductImage {
      width: 150px;
      margin: 0 20px;
      &:last-of-type {margin-right: 0;}
    }
    // .contestProductImage:last-child {margin-right: 0;}
  }
  .contestLeft {width: 40%;}
  .contestRight {
    width: 60%;
    p {margin-left: 20px; font-size: .9em; text-align: center;}
  }
  .contestForm {
    input {display: block; margin: 30px auto 0; font-family: 'courier';}
    input[type="text"]{
      width: 300px;
      padding: 5px 10px;
      background: #a4a4a4;
      border: 1px solid #fff;
      color: #000;
    }
    input[type="submit"] {
      text-transform: uppercase;
      background-color: #ebebeb;
      border: none;
      padding: 15px 40px;
      cursor: pointer;
      font-size: 1.2em;
    }
      input::-webkit-input-placeholder {color: #000;}
      input:-moz-placeholder {color: #000;}
      input::-moz-placeholder {color: #000;}
      input:-ms-input-placeholder {color: #000;}
  }
  .payment-errors {
    font-size: .8em;
    text-align: center;
  }
  .emailAlert {
    margin: 0;
    color: red;
  }
}
