.contestPage {
  max-width: 960px;
  margin: 100px auto 0;
  .contestFloat {
    float: left;
    img {width: 100%;}
    .contestProductImage {width: 150px; margin: 0 15px;}
  }
  .contestLeft {width: 40%;}
  .contestRight {width: 60%;}

  .contestForm input {display: block; margin: 20px auto;}
}
