.contestPage {
  max-width: 960px;
  margin: 100px auto 60px;
  h2 {
    text-align: center;
    font-weight: 100;
  }
  .contestFloat {
    float: left;
    img {width: 100%;}
    .contestProductImage {
      width: 150px;
      margin: 0 20px;
      &:last-of-type {margin-right: 0;}
    }
    // .contestProductImage:last-child {margin-right: 0;}
  }
  .contestLeft {width: 40%;}
  .contestRight {
    width: 60%;
    .contestCopy {margin-left: 20px; font-size: .9em; text-align: center;}
  }
  #new_contest {
    margin-bottom: 5px;
    input {display: block; margin: 30px auto 0; font-family: 'courier';}
    input[type="text"],
    input[type="email"]{
      width: 300px;
      padding: 5px 10px;
      background: #a4a4a4;
      border: 1px solid #fff;
      color: #000;
    }
    input[type="submit"] {
      -webkit-appearance: none;
      text-transform: uppercase;
      background-color: #ebebeb;
      border: none;
      padding: 15px 40px;
      cursor: pointer;
      font-size: 1.2em;
    }
    input::-webkit-input-placeholder {color: #000;}
    input:-moz-placeholder {color: #000;}
    input::-moz-placeholder {color: #000;}
    input:-ms-input-placeholder {color: #000;}
    .contestCheckbox {
      width: 380px;
      margin: 0 auto;
      font-size: .7em;
      input {display: inline-block;}
    }
    input.field-with-error {
      border: 1px solid red;
    }
  }
  .logoContainer {
    width: 350px;
    margin: 20px auto 0;
    text-align: center;
    .vogueLogo {width: 80px;margin-right: 10px;}
    .patLogo {width: 160px;}
  }
  .payment-errors {
    font-size: .8em;
    text-align: center;
    margin: 0;
  }
  .emailAlert {
    margin: 0;
    color: red;
  }
}
.floatRightMobile {
  display: none;
}
.success-message {
  width: 300px;
  margin: 50px auto;
  line-height: 1.5;
  color: #a9a9a9;
}
.checkbox-message{
  margin-bottom: 0;
  color: red;
  font-size: .7em;
  text-align: center;
}

@media handheld, screen and (max-width: 960px) {
  .contestFloat {width: 50%;}
  .floatRightMobile {display: block;}
  #desktopProductImage {display: none;}
  .contestPage {
    .contestLeft {
      width: 100%;
      .contestImage {
        width: 50%;
        float: left;
      }
      .floatRightMobile {
        width: 50%;
        float: left;
        .contestProductImage {
          width: 50%;
          display: block;
          margin: 0 auto;
          &:last-of-type {
            margin: 0 auto;
          }
        }
      }
    }
    .contestRight {
      float: none;
      clear: both;
      width: 80%;
      margin: 0 auto;
      padding-top: 20px;
      .contestCopy {
        margin: 0;
      }
    }
  }
}

@media handheld, screen and (max-width: 400px) {
  .contestPage {
    h2 {font-size: 1em;}
    #new_contest {
      input[type="text"],
      input[type="email"] {
        width: 200px;
      }
      .contestCheckbox {
        width: 225px;
      }
    }
    .logoContainer {
      width: 200px;
    }
    .contestRight {
      .contestCopy {
        font-size: .8em;
      }
    }
  }
}

// Modal Styling
.contestCheckbox .modal__trigger {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: underline;
}
