@font-face {
  font-family: 'courier';
  src: url(asset_path('courier.eot'));
  src: url(asset_path('courier.eot?#iefix')) format('embedded-opentype');
  src: url(asset_path('courier.woff2')) format('woff2');
  src: url(asset_path('courier.woff')) format('woff');
  src: url(asset_path('courier.ttf')) format('truetype');
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
body {
  color: #fff;
  margin: 0;
  font-family: 'courier';
}
.headerContainer a {text-decoration: none; color: inherit;}
.mainContent,
.randomBackground,
.staticBackground,
.colorBackground {
  width: 100%;
  height: 100vh;
  position: absolute;
}
// container z-index settings
.mainContent {
  z-index: 4;
  // background: image-url('signup/static_pre_transparent.gif') no-repeat;
  // background-size: cover;
}
.staticBackground,
.staticBackgroundLaunch {
  z-index: 3;
  background: image-url('signup/static-reduced-40.gif') no-repeat;
  background-size: cover;
}
.staticBackgroundLaunch {
  position: fixed;
  height: 100vh;
  width: 100vw;
}
.randomBackground {
  z-index: 2;
  // background: image-url('signup/image1.jpg') no-repeat;
  width: 100%;
  height: 100vh;
  background-position: top center;
}
.colorBackground {
  z-index: 1;
  background: image-url('signup/finalImage.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}
.randomBackground.Color-01 {background: image-url('signup/Color-01.jpg') no-repeat; background-size: cover;}
.randomBackground.Color-02 {background: image-url('signup/Color-02.jpg') no-repeat; background-size: cover;}
.randomBackground.Color-03 {background: image-url('signup/Color-03.jpg') no-repeat; background-size: cover;}
.randomBackground.Color-04 {background: image-url('signup/Color-04.jpg') no-repeat; background-size: cover;}
.randomBackground.Color-05 {background: image-url('signup/Color-05.jpg') no-repeat; background-size: cover;}

// MAIN CONTENT STYLE
.headerContainer {
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 10px;
  background: #000;
  text-align: center;
  position: fixed;
  z-index: 6;
  width: 100%;
  color: #a9a9a9;
  top: 0;
  h1  {
    font-weight: 100;
    margin: 0;
    font-size: 1.1em;
    letter-spacing: 1px;
  }
  h3  {
    margin: 0;
    letter-spacing: 1px;
    font-size: .8em;
  }
  img {
    width: 190px;
  }
}
.terminalContainer {
  color: #fff;
  width: 510px;
  margin: 30vh auto 0;
  // background: #000;
  letter-spacing: 2px;
  padding: 20px 15px;
  p {
    text-align: center;
    background: #000;
    padding: 5px;
    position: relative;
    margin: 5px;
    // span {margin-right: 20px;}
  }
  #subscribe {
    background-color: black;
    color: red;
    border: none;
    font-family: 'courier';
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;
    -webkit-appearance: none;
    &:hover {
      color: #FFF;
    }
  }
  #email {background: #000; border: none; color: #fff;margin-right: 70px; font-size: 16px;letter-spacing: 2px; min-width: 133px;}
  #email::-webkit-input-placeholder {color: #fff; font-family: 'courier';}
  #email:-moz-placeholder {color: #fff;font-family: 'courier';}
  #email::-moz-placeholder {color: #fff;font-family: 'courier';}
  #email:-ms-input-placeholder {color: #fff;font-family: 'courier';}
}
input[type=email]:focus {
  box-shadow: 0 0 5px rgba(255, 255, 255, 1);
  border: 1px solid white;
  outline: 0;
}

.socialContainer {
  z-index: 5;
  font-size: 1.5em;
  background: #000;
  color: #fff;
  position: fixed;
  text-align: center;
  width: 100%;
  padding: 8px 0;
  bottom: 100px;
  a {
    text-decoration: none;
    color: #fff;
  }
  .fa {margin: 0 5px;}
  .footerBranding {
    letter-spacing: 2px;
    font-size: 0.8em;
    margin-left: 40px;
    display: inline-block;
    span {
      margin: 0 18px;
    }
  }
}

 .blinker {
   background: #fff;
    animation: blink 1s linear infinite;
    -webkit-animation: blink 1s infinite linear;
    -ms-animation: blink 1s infinite linear;
    -moz-animation: blink 1s infinite linear;
}



@keyframes blink {
  0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes blink {
  0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-ms-keyframes blink {
  0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes blink {
  0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

// COUNTDOWN
.confirmationTerminal {
  width: 489px;
  margin: 30vh auto 0;
  visibility: hidden;
  p {
    margin: 10px 0;
    background: #000;
    padding: 5px 10px;
  }
  .accessGranted {
    text-align: center;
    font-size: 1.2em;
  }
  .countdownContainer {position: relative;}
  .countdownContainer p {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .countdownContainer .stayTuned {
    padding-top: 8px;
  }
}

#countdown {
  font-size: 2.75em;
  background: #000;
  text-align: center;
}
.countdownMarkers {
    height: 27px;
    background-color: black;
    text-align: center;
    .countdownMarkers
    p {
      position: absolute
    }
    .days {position: absolute; left: 28px;}
    .hours {position: absolute; left: 154px;}
    .minutes {position: absolute; right: 140px;}
    .seconds {position: absolute; right: 14px;}
}

// INSTAGRAM SECTION
.instaFeed {
  position: relative;
  z-index: 5;
  padding: 64px 4% 0;
  .terminalContainer {
    font-size: .5em;
    margin-top: 10vh;
  }
  h5 {
    padding-top: 50px;
    max-width: 800px;
    margin: 20px auto;
    font-size: .8em;
    font-weight: 100;
  }
  .downArrow {width: 40px;}
}

.launchContainer {
  text-align: center;
  font-size: 2em;
  h1 {
    margin: 0;
    font-size: 2.9em;
    font-weight: 100;
  }
  h3 {
    font-weight: 100;
    margin: 0;
  }
  .scrollDown {font-size: .7em}
  .previewLink {
    letter-spacing: 2px;
    font-size: .8em;
    padding: 15px 80px;
    margin: 5px auto;
    background: #000;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }
}

.emptySpace {
  width: 100vw;
  height: 100vh;
}

.instaImage {
  float: left;
  width: 31%;
  text-align: center;
  margin: 0 1% 20px;
  position: relative;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
          box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  img {
    width: 100%;
    display: block;
  }
}

.instaImageLarge {
  float: left;
  width: 47.5%;
  text-align: center;
  margin: 0 1% 20px;
  position: relative;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
          box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  img {
    width: 100%;
    display: block;
  }
}
.instaVideo {
  float: left;
  width: 31%;
  text-align: center;
  margin: 0 1% 20px;
  position: relative;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
          box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  video {
    width: 100%;
  }
}

.instaImage:hover .hoverTextContainer,
.instaImageLarge:hover .hoverTextContainer,
.instaImage:hover .hoverImage,
.instaImageLarge:hover .hoverImage,
.instaImage.active .hoverTextContainer,
.instaImageLarge.active .hoverTextContainer,
.instaImage.active .hoverImage,
.instaImageLarge.active .hoverImage {
  opacity: 1;
}


.hoverImage {
  // background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          opacity: 0;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
}
.hoverTextContainer {
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          opacity: 0;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          display: block;
          text-align: center;
          width: 100%;
          height: 100%;
  p {
    position: relative;
    display: inline-block;
    top: 50%;
    -webkit-transform: translateY(-50%); /* IE */
        -ms-transform: translateY(-50%); /* Safari */
            transform: translateY(-50%); /* Modern */
    // position: absolute;
    // top: 30%;
    // left: 30%;
  }
}




// MOBILE
@media handheld, screen and (max-width: 700px) {
  .mainContent {font-size: .8em;}
  .terminalContainer #email,
  .terminalContainer #subscribe {font-size: 1em;}
  .headerContainer {width: 100%;}
  .terminalContainer {
    // width: 95%;
    width: 438px;
    color: #fff;
    // background: #000;
    padding: 10px 0;
  }
  .socialContainer {
    position: fixed;
    bottom: 30px;
    width: 100%;
  }

  .instaImage {
    width: 47.5%;
  }
  .instaImageLarge {
    width: 98%;
  }
  .noMobile {
    display: none;
  }

}

@media handheld, screen and (max-width: 520px) {
  .headerContainer {
    padding-bottom: 5px;
    img {
      width: 180px;
    }
  }
  .confirmationTerminal {
    width: 80%;
  }
  #countdown {
    // width: 80%;
    margin: 0 auto;
    font-size: 1.75em;
  }
  .countdownMarkers {
    // letter-spacing: 31px;
    padding-left: 33px;
  }
  .terminalContainer {
    padding: 5px 0;
    width: 320px;
    #email {
      margin-right: 0;
      min-width: 186px;
    }
    p {
      letter-spacing: 1px;
    }
  }
  .socialContainer {
    font-size: 1em;
    padding: 8px 0;
    .footerBranding {
      letter-spacing: 2px;
      font-size: 0.8em;
      margin-left: 0px;
      display: inline-block;
    }
    .fa {margin: 0;}
  }
  .countdownMarkers {display: none;}
  .instaFeed h5,
  .instaFeed .scrollDown {font-size: .5em;}
  .hoverTextContainer p {font-size: 10px;}
}

@media handheld, screen and (max-width: 400px) {
  .confirmationTerminal {
    min-width: 300px;
  }
  .countdownMarkers {
    letter-spacing: 31px;
    padding-left: 15px;
  }
}
