<div class="successContainer">
  <h2>Congratulations on being one of one thousand</h2>
  <p>Your Gold 001 order has been sent to our Labs fullfilment center. Because of its delicate and rare form, it will be shipped within 7-10 days via FedEx Ground. The arrival date will depend on the delivery address you have chosen.</p>
</div>
